* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif ;
    
}
body {
    min-height: 100vh;
    display: flex;
   
}
.db{
    color: black;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.head{
    color: #3709e0;
}
 h2 {
    color: #3709e0;
}
h3 {
    color: #999;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}
table {
    padding: 10px;
}
th, td {
    text-align: left;
    padding: 8px;
}
.side-menu {
    position: fixed;
    background:#4bb7e9;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li {
    font-size: 19px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
}
.side-menu li a {
    color: white; 
    display: flex;
    align-items: center;
    width: 100%;
}
.side-menu li:hover {
    background: white;
}
.side-menu li:hover a {
    color: #46098d; 
}
.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
}
.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: rgb(244, 245, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}
.container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}
.container .header .nav .search input[type=text] {
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}
.bn {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bn i {
    font-size: 20px;
}
.container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .content {
    margin-top: 10vh;
    padding: 20px;
    background: #f1f1f1;
    flex-grow: 1;
}
.container .content .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .content .cards .card {
    width: 250px;
    height: 150px;
    background: rgb(225, 228, 220);
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .content .cards .card .box {
    text-align: center;
}
.container .content .cards .card .icon-case img {
    width: 50px;
    height: 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.lis {
    display: inline-block;
    margin-right: 20px;
    margin-left: 150px;
    font-size: larger;
    font-weight: bold;
}
.lis a {
    text-decoration: none;
    color: #050505;
}

@media screen and (max-width: 1050px) {
    .brand-name h1 {
        font-size: 12px;
    }
    .side-menu li {
        font-size: 18px;
    }
}
@media screen and (max-width: 940px) {
    .brand-name h1 {
        font-size: 12px;
    }
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover {
        background: #f05462;
        padding: 8px 38px;
        border: 2px solid white;
    }
}
@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 12px;
    }
    .container .content .cards {
        justify-content: center;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }
}
@media screen and (max-width:475px) {
    .brand-name h1 {
        font-size: 12px;
    }
    .container .content .cards {
        justify-content: center;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }
}