

.form-container {
    
        background-color: white;
        padding: 30px;
        margin-top: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin: auto;
        text-align: center;
        margin-top: 20vh; /* Adjust this value to create the desired space below the header */
    
    
}

h1, h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #a5a0a0;
    border-radius: 4px;
}

.bt {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.bt:hover {
    background-color: #0056b3;
   
}

.head{
    color: #3709e0;
    margin-right: 55px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.close{
    cursor: pointer;
}


.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
   
}
.side-menu {
    position: fixed;
    background:#4bb7e9;
    width: 290px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li {
    font-size: 20px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
}
.side-menu li a {
    color: white; /* Set the color of the links to white */
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
}
.side-menu li:hover {
    background: white;
}
.side-menu li:hover a {
    color: #46098d; /* Change color to match hover state */
}
.cont {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
}
.cont .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: rgb(244, 245, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.cont .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}
.cont .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}
.cont .header .nav .search input[type=text] {
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}

.cont .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.lis {
    display: inline-block;
    margin-left: 150px;
    font-size: larger;
    font-weight: bold;
}
.lis a {
    text-decoration: none;
    color: #050505;
}
.bn {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bn i {
    font-size: 20px;
}
